<div class="accordion" id="accordion{{ department.pk }}">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ department.pk }}"
                    aria-expanded="true" aria-controls="collapse{{ department.pk }}">
                {{ department.title | upper }}
            </button>
        </h2>
        <div id="collapse{{ department.pk }}" class="accordion-collapse collapse close"
             data-bs-parent="#accordion{{ department.pk }}">
            <div class="accordion-body">
                {% for worker in department.workers.all %}
                    {% if worker.position.is_chief and worker.is_active %}
                        <li class="list-group-item">{% include "employers/worker.html" %}</li>
                    {% endif %}
                {% endfor %}
                {% for worker in department.workers.all %}
                    {% if not worker.position.is_chief and worker.is_active %}
                        <li class="list-group-item">{% include "employers/worker.html" %}</li>
                    {% endif %}
                {% endfor %}
                <p></p>
                {% if not department.is_leaf_node %}
                    {% for child in department.childs.all %}
                        {% with department=child template_name="employers/tree_view_template.html" %}
                            {% include template_name %}
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>